<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Thêm mới</title>
</head>
<body>
<div class="container pt-5">
    <div class="shadow p-5 w-50 mx-auto mt-5 rounded-4">
        <h1 class="text-center mb-4">Thêm mới sản phẩm</h1>
        <form th:action="@{/products/save}" th:object="${product}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" min="100">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả sản phẩm</label>
                <input type="text" class="form-control" id="description" th:field="*{description}" required>
            </div>
            <div class="mb-3">
                <label for="manufacturer" class="form-label">Nhà sản xuất</label>
                <input type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}" required>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <a href="/products" class="btn btn-danger me-2">Hủy bỏ</a>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>